@model IEnumerable<Motivation.Models.User>

@{
    Layout = "~/Views/Shared/Site.cshtml";
}

<style>
    td {
        padding-right: 20px;
        height: 72px;
        vertical-align: middle;
    }

    tr {
        vertical-align: bottom;
    }

    body {
        background-color: #a29490;
    }
</style>
    
<div class="dashboard display-animation" style="margin: 0 auto; width: 900px; height: 1200px">
    <span style="position: relative; z-index: 2">
        <div style="font-size: 30px; z-index: 4; padding-left: 14px; height: 44px; padding-top: 40px;">
            <a href="@Url.Action("Home", "Anketa")">
                <img src="~/Content/Images/FlashBack.png" style="height: 40px; padding-left: 70px; transform: rotate(330deg); position: relative; top: 300px; right: 50px; z-index: 2" />
            </a>
        </div>
        <div style="text-align: center; font-size: 70px; z-index: 4; height: 30px; position: relative; top: 120px; right: 220px;">
            Рейтинги
        </div>
    </span>

    <div class="col-sm-1" style="background-image: url(../../Content/Images/rating/rate1.png); background-size: cover; background-repeat: no-repeat; width: 300px; height: 1101px;">
        <div style="position: relative; padding-top: 0px; margin-top:412px; padding-left: 0px; font-size: 12px;">
            <table style="display: table; position: relative; border-collapse: inherit; margin-left: 25px;">
                <tr style="height: 20px;">
                    <td colspan="4" style="font-size: 30px; text-align: center;">Рейтинг баллов</td>
                </tr>
                <tr style="height: 20px;">
                    <td>Место</td>
                    <td>Аватар</td>
                    <td>Имя</td>
                    <td style="position: relative; z-index: 3">Баллы</td>
                </tr>
                @{int i = 0; }
                @foreach (Motivation.Models.User usr in Model)
                {
                i++;
                    <tr>
                        <td style="text-align: center;">@i</td>
                        <td><img src="@usr.AvatarUrl" style="width:50px" /></td>
                        <td>@usr.Name</td>
                        <td>@usr.Exp</td>
                    </tr>
                }
            </table>
            <div style="padding-top: 5px; padding-left: 40px;">
                <a>
                    <img src="~/Content/Images/Left.png" style="height: 50px; z-index: 2" />
                </a>
                <a>
                    <img src="~/Content/Images/Left.png" style="height: 50px; z-index: 2; transform: rotate(180deg)" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-1" style="background-image: url(../../Content/Images/rating/rate2.png); background-size: cover; background-repeat: no-repeat; width: 300px; height: 1101px;">
        <div style="position: relative; padding-top: 0px; padding-left: 50px; font-size: 12px; margin-top: 412px; z-index: 3;">
            <table style="display: table; position: relative; border-collapse: inherit; margin-left: 30px; width: 260px;">
                <tr style="height: 20px;">
                    <td colspan="4" style="font-size: 30px; z-index: 3; position: relative; text-align: center;">Рейтинг богатств</td>
                </tr>
                <tr style="height: 20px;">
                    <td>Место</td>
                    <td>Аватар</td>
                    <td>Имя</td>
                    <td style="position: relative; z-index: 3">Монетки</td>
                </tr>
                @{int x = 0; }
                @foreach (Motivation.Models.User usr in ViewBag.MoneyList)
            {
                x++;
                    <tr>
                        <td style="text-align: center;">@x</td>
                        <td><img src="@usr.AvatarUrl" style="width:50px" /></td>
                        <td>@usr.Name</td>
                        <td style="position: relative; z-index: 3; text-align: center;">@usr.CoinsCount</td>
                    </tr>
                }
            </table>
            <div style="padding-top: 5px; padding-left: 50px; width: 300px; position: relative; z-index: 3">
                <a>
                    <img src="~/Content/Images/Left.png" style="height: 50px; z-index: 2" />
                </a>
                <a>
                    <img src="~/Content/Images/Left.png" style="height: 50px; z-index: 2; transform: rotate(180deg)" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-1" style="background-image: url(../../Content/Images/rating/rate3.png); background-size: cover; background-repeat: no-repeat; width: 300px; height: 1101px;">
        @*<div style="position: relative; padding-top: 0px; padding-left: 0px; font-size: 12px; margin-top:380px;">
            <table style="display: table; position: relative; border-collapse: inherit; margin-left: 30px; width: 260px;">
                <tr style="height: 20px;">
                    <td colspan="4" style="font-size: 30px; z-index: 3; position: relative;">Рейтинг монеток</td>
                </tr>
                @{int y = 0; }
                @foreach (Motivation.Models.UserGroup grp in ViewBag.groupsList)
                {
                y++;
                    <tr>
                        <td style="text-align: center;">@y</td>
                        <td><img src="@grp." style="width:50px" /></td>
                        <td>@usr.Name</td>
                        <td style="position: relative; z-index: 3; text-align: center;">@usr.CoinsCount</td>
                    </tr>
                }
            </table>
        </div>*@
    </div>

<script>
    (function ($) {
        var speed = 2000;
        var container = $('.display-animation');
        container.each(function () {
            var elements = $(this).children();
            elements.each(function () {
                var elementOffset = $(this).offset();
                var offset = elementOffset.left * 0.8 + elementOffset.top;
                var delay = parseFloat(offset / speed).toFixed(2);
                $(this)
                    .css("-webkit-animation-delay", delay + 's')
                    .css("-o-animation-delay", delay + 's')
                    .css("animation-delay", delay + 's')
                    .addClass('animated');
            });
        });
    })(jQuery);

    (function ($) {
        $(".ripple-effect").click(function (e) {
            var rippler = $(this);

            // create .ink element if it doesn't exist
            if (rippler.find(".ink").length == 0) {
                rippler.append("<span class='ink'></span>");
            }

            var ink = rippler.find(".ink");

            // prevent quick double clicks
            ink.removeClass("animate");

            // set .ink diametr
            if (!ink.height() && !ink.width()) {
                var d = Math.max(rippler.outerWidth(), rippler.outerHeight());
                ink.css({ height: d, width: d });
            }

            // get click coordinates
            var x = e.pageX - rippler.offset().left - ink.width() / 2;
            var y = e.pageY - rippler.offset().top - ink.height() / 2;

            // set .ink position and add class .animate
            ink.css({
                top: y + 'px',
                left: x + 'px'
            }).addClass("animate");
        })
    })(jQuery);
</script>