@{
    ViewBag.Title = "Home Page";
}

@*<span class="tile-img" style="background-image: url(http://www.google.com/design/images/google_spec.png);"></span>*@

<div class="dashboard display-animation" style="margin: 0 auto; width: 1130px;">
    <span class="tile tile-light-gray ripple-effect" style="width: 99%; height: 70px;">
        <div class="label1" style="text-align: center; font-size: 30px;">
            Добро пожаловать в личные достижения
        </div>
    </span>
    <a class="tile tile-lg tile-sqr ripple-effect" style="height: 30px;">
        <div style="font-size: 24px; text-align: center;">Рейтинги</div>
    </a>
    <a class="tile tile-lg ripple-effect" style="height: 30px;">
        <div style="font-size: 24px; text-align: center; height: 30px;">Список достижений</div>
    </a>
    <a class="tile tile-lg tile-sqr ripple-effect" style="height: 30px;">
        <div style="font-size: 24px; text-align: center; height: 30px;">События</div>
    </a>
    <a class="tile tile-lg tile-sqr ripple-effect"  href="@Url.Action("GetRatingList", "Home")">
        <div style="background-image: url(../../Content/Images/main/Graphics.png); background-size: cover; background-repeat: no-repeat; height: 100%; width: 100%;"></div>
    </a>
    <a class="tile tile-lg ripple-effect" href="@Url.Action("Index", "achivement")">
        <div style="background-image: url(../../Content/Images/main/Notebook.png); background-size:cover; background-repeat: no-repeat; height: 100%; width: 100%;"></div>
    </a>
    <a class="tile tile-lg tile-sqr ripple-effect"  href="@Url.Action("GetCompetitions", "Home")">
        <div style="background-image: url(../../Content/Images/main/Competitions.png); background-size: cover; background-repeat: no-repeat; height: 100%; width: 100%;"></div>
    </a>
    <a class="tile tile-lg tile-sqr ripple-effect" href="@Url.Action("Shop", "Home")">
        <div style="background-image: url(../../Content/Images/main/Mobile.png); background-size: cover; background-repeat: no-repeat; height: 100%; width: 100%;"></div>
    </a>
    <a class="tile tile-lg ripple-effect" href="@Url.Action("Anketa", "Home")">
        <div style="background-image: url(../../Content/Images/main/Profile.png); background-size: cover; background-repeat: no-repeat; height: 100%; width: 100%;"></div>
    </a>
    <a class="tile tile-lg tile-sqr ripple-effect" href="@Url.Action("GetDepartmentList", "Home")">
        <div style="background-image: url(../../Content/Images/main/Paper.png); background-size: cover; background-repeat: no-repeat; height: 100%; width: 100%;"></div>
    </a>
    <a class="tile tile-lg tile-sqr ripple-effect" style="height: 30px;">
        <div style="font-size: 24px; text-align: center;">Магазин</div>
    </a>
    <a class="tile tile-lg ripple-effect" style="height: 30px;">
        <div style="font-size: 24px; text-align: center; height: 30px;">Персонаж</div>
    </a>
    <a class="tile tile-lg tile-sqr ripple-effect" style="height: 30px;">
        <div style="font-size: 24px; text-align: center; height: 30px;">Отделы</div>
    </a>
    <span class="tile tile-light-gray ripple-effect" style="width: 99%; height: 40px; text-align: left;">
        <div class="label1" style="text-align: center; font-size: 30px;">
            <a href="~/Pages/Users.aspx">Панель управления</a>
        </div>
    </span>
</div>

<script>
    (function ($) {
        var speed = 2000;
        var container = $('.display-animation');
        container.each(function () {
            var elements = $(this).children();
            elements.each(function () {
                var elementOffset = $(this).offset();
                var offset = elementOffset.left * 0.8 + elementOffset.top;
                var delay = parseFloat(offset / speed).toFixed(2);
                $(this)
                    .css("-webkit-animation-delay", delay + 's')
                    .css("-o-animation-delay", delay + 's')
                    .css("animation-delay", delay + 's')
                    .addClass('animated');
            });
        });
    })(jQuery);

    (function ($) {
        $(".ripple-effect").click(function (e) {
            var rippler = $(this);

            // create .ink element if it doesn't exist
            if (rippler.find(".ink").length == 0) {
                rippler.append("<span class='ink'></span>");
            }

            var ink = rippler.find(".ink");

            // prevent quick double clicks
            ink.removeClass("animate");

            // set .ink diametr
            if (!ink.height() && !ink.width()) {
                var d = Math.max(rippler.outerWidth(), rippler.outerHeight());
                ink.css({ height: d, width: d });
            }

            // get click coordinates
            var x = e.pageX - rippler.offset().left - ink.width() / 2;
            var y = e.pageY - rippler.offset().top - ink.height() / 2;

            // set .ink position and add class .animate
            ink.css({
                top: y + 'px',
                left: x + 'px'
            }).addClass("animate");
        })
    })(jQuery);
</script>

@*<div class="row" style="height: 100%; min-height: 100%;">
    <div class="col-md-2 maxheight" style="background: #18BC9C; min-width: 300px; text-align: center;">
        <div style="text-align: center; color: white; height: 100%;">
            <div class="row">
                <div class="col-lg-12" style="padding-left: 22px;">
                    <div style="text-align: center; font-size: 40px;">
                        Сухов Игорь
                    </div>
                    <img class="img-responsive" src="~/Content/Images/profile.png" alt="">
                    <br />
                    <div class="btn-group-vertical">
                        <div style="padding-top: 5px;">
                            <button type="button" class="btn btn-default" style="width: 220px; color: #ffffff; background-color: #397624; border-color: #46b8da; font-weight: 700;">Мои достижения</button>
                        </div>
                        <div style="padding-top: 5px;">
                            <button type="button" class="btn btn-default btn-primary" style="width: 220px;">События месяца</button>
                        </div>
                        <div style="padding-top: 5px;">
                            <button type="button" class="btn btn-default btn-info" style="width: 220px; font-weight: 700;">Рейтинг</button>
                        </div>
                        <div style="padding-top: 5px;">
                            <button type="button" class="btn btn-default btn-warning" style="width: 220px; font-weight: 700;">Клан</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 maxheight" style="background: #3a6cb2">
        <div style="text-align: center; color: white; height: 100%;">
            <div style="font-size: 20px; font-weight: 700; border-right: 4px solid white; min-height: 100%; height: 100%;">
                Последние новости
            </div>
            <br />
            <div id="News">
                <table class="table">
                    @foreach (Motivation.Site.Models.AchivmentModelView item in ViewBag.NewsModels)
                    {
                        <tr>
                            <td>
                                Сотрудником @item.UserName было получено новое достижение "@item.AchivmentName" @item.Date.ToString("dd.MM.yyyy")
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4 maxheight" style="background: #3a6cb2">
        <div style="text-align: center; color: white; height: 100%;">
            <div style="font-size: 20px; font-weight: 700;">
                Последние достижения
            </div>
            <br />
            <div id="Ach">
                <table class="table">
                    <tr>
                        <th style="text-align: center">
                            Достижение
                        </th>
                        <th style="text-align: center">
                            Дата получения достижения
                        </th>
                        <th style="text-align: center">
                            Примечание
                        </th>
                    </tr>
                    @foreach (Motivation.Site.Models.AchivmentModelView item in ViewBag.AchivmentModels)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AchivmentName)
                            </td>
                            <td>
                                @item.Date.ToString("dd.MM.yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AchivmentComment)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>*@

@*new { EmployeeId = UserId, DirectoryName = "CL Ceradir Hydrofil Power Coat 16" }*@